body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

h2 {
  font-weight: 700;
  padding: 10px 25px;
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
  margin-top: 25px;
  margin-bottom: 0;
}

p {
  padding: 0 28px;
  font-weight: 100;
  font-size: 0.9375rem;
  color: hsl(220, 15%, 55%);
}

a {
  color: hsl(228, 45%, 44%);
}

/***************************CLASS SELECTORS*************************/
.qr-cover {
  width: 310px;
  height: 490px;
  background-color: White;
  margin: 100px auto 100px;
  border-radius: 22px;
  background-color: hsl(0, 0%, 100%);
}

.image-qr-code {
  width: 280px;
  height: auto;
  position: relative;
  top: 15px;
  border-radius: 14px;
}

.attribution {
  font-size: 0.6875;
}
